config SIFIVE_DENALI
	bool "SiFive Denali DTB memory init"
	help
	  Enable the SiFive Denali memory init code

config LEGACY_MEMORY_INIT
	bool "SiFive FU540 legacy memory init"
	help
	  Legacy header file based memory init code

